*{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(12, 13, 18, 0.88), rgb(3 46 10 / 61%)), url(img/header-back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* .header{
background: url(img/header-bg.jpg);  
}
.head{
min-height: 100vh;
width: 100%;
background: rgba(10, 26, 116, 0.61) ;
background-position: center;
background-size: cover;
position: relative;
}
*/

nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 180px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
}

.nav-links ul li::after {
    content: "";
    width: 0px;
    height: 2px;
    background: rgb(34,177,76);
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}
.text-box{
    position: absolute;
    width: 90%;
    color: rgb(34,177,76);
    top: 40%;
    left: 5%;
    transform: (-50%, -50%);
    text-align: center;
}
.text-box h2{
    font-size: 3rem;
}
.text-box p{
    color: #ffffff;
    margin: 10px 0 14px;
    font-size: 16px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size:   13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 2px solid rgb(34,177,76);
    background-color:rgb(34,177,76);
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width:700px){
    .text-box h2{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(34,177,76);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .test-para{
        flex-direction: column;
    }
}

.course-head{
    color: rgb(34,177,76);;
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 2%;
}
.course-head h2{
    font-size: 35px;
    font-weight: 600;

}
.course-head p{
    color: rgb(90, 87, 87);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.course-para{
    width: 80%;
    margin-top: 5%;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background-color: rgb(34,177,76);;
    border-radius: 10px;
    margin: bottom 5%;
    padding: 20px 12px;
    margin: 10px;
    box-sizing: border-box;
    transition: .5s;

}
.course-para h3{
    font-size: 25px;
    font-weight: 600;
    margin: 15px;
}
.course-para p{
    color: rgb(90, 87, 87);
}
.course-col:hover{
    box-shadow: 0 0 25px 0 rgb(34,177,76);;
}
@media(max-width:700px){

    .course-para{
        flex-direction: column;
    }
    .campus-para{
        flex-direction: column;
    }
    .fac-para{
        flex-direction: column;
        flex-basis: 80%;
    }
    .cta h1{
        font-size: 20px;
    }
}

/* -----------campus------------ */

.campus-para{
    width: 100%;
    margin-top: 5%;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-between;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    border-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}
.campus-col img{
    width: 100%;
}
.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}
.layer h3{
    color: black;
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.layer:hover{
    background-color: rgba(7, 134, 92, 0.705);
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/* ---------Facilities--------- */

.facilities{
    width: 80%;
    /* margin: auto; */
    /* text-align: center; */
    padding-top: 100px;
}
.fac-header{
    color: rgb(34,177,76);;
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 2%;
}
.fac-header p{
    color: rgb(90, 87, 87);
}
.fac-col{
    flex-basis: 31%;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.fac-para{
    width: 80%;
    margin-top: 5%;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-between;
}
.fac-col img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.fac-col h3{
    text-align: center;
    margin: 10px;
}
.fac-col p{
    padding: 0; 
    font-size: 14px;
}
.test-header{
    font-size: 24px;
    color: rgb(34,177,76);;
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 2%;
}
.test-header p{
    color: rgb(90, 87, 87);
    font-size: 16px;
}
.test-para{
    width: 80%;
    margin-top: 5%;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-between;
}
.test-col{
    margin: 10px;
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: rgb(4, 90, 11);
    padding: 5px;
    cursor: pointer;
    /* display: flex; */
}
.test-col .fa{
    color: #ffffff;
}
.test-col h3{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-align: left;
}
.test-col img{
    width: 51px;
    border-radius: 50%;
}

/* ---------call to action-------- */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(12, 13, 18, 0.88), rgb(3 46 10 / 61%)), url(img/call-to-action.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 50px;
    color: rgb(34,177,76);
}
.cta h1{
    font-size: 30px;
    margin-bottom: 50px;
}


/* ---------footer-------- */
.footer{
    font-size: 32px;
    color: rgb(34,177,76);;;
    width: 100%;
    text-align: center;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer .fa{
    width: 25px;
    color: rgb(34,177,76);;
}
.footer p{
    font-size: 14px;
    color: rgb(90, 87, 87);
    padding: 0px 20px 25px 25px;
}
.copy{
    display: block;
    text-align: center;
    margin: 25px;
    color: black;
    font-size: 15px;
}